﻿@model WebUI.ViewModels.CoreWebVitalsTool.CoreWebVitalsToolMainViewModel

@{
    string GetScoreClassName(int score)
    {
        switch (score)
        {
            case >= 75:
                return "cwv-hi";
            case >= 60:
                return "cwv-me";
            default:
                return "cwv-lo";
        }
    }
}
<h1>@Model.SiteItemDetails.Title</h1>

<div>
    <h4>@Model.SiteItemDetails.Host</h4>
    <hr />
</div>

<div class="row">
    <div class="col-3">
        <form id="initScanForm" class="form-inline" asp-controller="CoreWebVitalsTool" asp-action="ScanSiteVitals" asp-route-siteId="@Model.SiteItemDetails.Id">
            <button type="submit" class="btn btn-primary">Scan Vitals</button>
        </form>
    </div>
    <div class="col-2"></div>
</div>

<div>
    <div class="row font-weight-bold">
        <div class="col-2"></div>
        <div class="col-2 text-center c-global-truncate-text">Performance</div>
        <div class="col-2 text-center c-global-truncate-text">SEO</div>
        <div class="col-2 text-center c-global-truncate-text">BestPractices</div>
        <div class="col-2 text-center c-global-truncate-text">Accessibility</div>
    </div>
    @foreach (var link in Model.Links)
    {
        if (link.cwvEntryViewModel == null)
        {
            <div class="row">
                <div class="col-2 c-diff-url-cont"> <a href="@Model.SiteItemDetails.Host@link.Url" target="_blank">@link.Url</a></div>
                <div class="col-2 text-center"><span>N/A</span></div>
                <div class="col-2 text-center"><span>N/A</span></div>
                <div class="col-2 text-center"><span>N/A</span></div>
                <div class="col-2 text-center"><span>N/A</span></div>
            </div>
            continue;
        }

        if (link.cwvEntryViewModel.IsScanCompleted && link.cwvEntryViewModel.IsScanSuccessful)
        {
            <div class="row">
                <div class="col-2 c-diff-url-cont"> <a href="@Model.SiteItemDetails.Host@link.Url" target="_blank">@link.Url</a></div>
                <div class="col-2 text-center"><span class="cwv-circled @GetScoreClassName(link.cwvEntryViewModel.Performance)">@link.cwvEntryViewModel.Performance</span></div>
                <div class="col-2 text-center"><span class="cwv-circled @GetScoreClassName(link.cwvEntryViewModel.SEO)">@link.cwvEntryViewModel.SEO</span></div>
                <div class="col-2 text-center"><span class="cwv-circled @GetScoreClassName(link.cwvEntryViewModel.BestPractices)">@link.cwvEntryViewModel.BestPractices</span></div>
                <div class="col-2 text-center"><span class="cwv-circled @GetScoreClassName(link.cwvEntryViewModel.Accessibility)">@link.cwvEntryViewModel.Accessibility</span></div>
                <div class="col-2">@Html.ActionLink("View Full Report", "ShowVitals", new { id = link.LinkId}, new { @class = (!link.cwvEntryViewModel.IsScanCompleted ? " d-none" : "") })</div>
            </div>
        }
        else if (link.cwvEntryViewModel.IsScanCompleted && !link.cwvEntryViewModel.IsScanSuccessful)
        {
            <div class="row">
                <div class="col-2 c-diff-url-cont"> <a href="@Model.SiteItemDetails.Host@link.Url" target="_blank">@link.Url</a></div>
                <div class="col-2 text-center"><span>Failed</span></div>
                <div class="col-2 text-center"><span>Failed</span></div>
                <div class="col-2 text-center"><span>Failed</span></div>
                <div class="col-2 text-center"><span>Failed</span></div>
            </div>
        }
        else if (!link.cwvEntryViewModel.IsScanCompleted)
        {
            <div class="row">
                <div class="col-2 c-diff-url-cont"> <a href="@Model.SiteItemDetails.Host@link.Url" target="_blank">@link.Url</a></div>
                <div class="col-2 text-center"><span>In progress</span></div>
                <div class="col-2 text-center"><span>In progress</span></div>
                <div class="col-2 text-center"><span>In progress</span></div>
                <div class="col-2 text-center"><span>In progress</span></div>
            </div>
        }
    }
</div>