﻿@model WebUI.ViewModels.DiffTool.DiffViewViewModel
@*<div>Compare View</div>
    <div class="row">
        <div class="col-6">@Model.ReferenceContent</div>
        <div class="col-6">@Model.CompareToContent</div>
    </div>*@

@*<div class="mergely-full-screen-8">
    <div class="mergely-resizer">
        <div id="mergely">
        </div>
    </div>
</div>*@

<div id="mergely-container" style="position: absolute; left: 0px; width: 100%; height: 100px;">
    <div id="mergely"></div>
</div>

@section Scripts {
    @*<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>*@
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.32.0/codemirror.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.32.0/addon/search/searchcursor.min.js"></script>
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.32.0/codemirror.min.css" />

    <script type="text/javascript" src="~/lib/mergely/mergely.js"></script>
    <link type="text/css" rel="stylesheet" href="~/lib/mergely/mergely.css" />

    <script type="text/javascript">
        $(document).ready(function () {
            $('#mergely').mergely({
                width: 'auto',
                height: 'auto',
                license: 'lgpl-separate-notice',
                resize_timeout: 100,
                loaded: ResizeDiffContainer,
                cmsettings: {
                    readOnly: true
                },
                lhs: function (setValue) {
                    setValue('@Html.Raw(Json.Serialize(Model.ReferenceContent).ToString().Trim('"'))');
                },
                rhs: function (setValue) {
                    setValue('@Html.Raw(Json.Serialize(Model.CompareToContent).ToString().Trim('"'))');
                }
            });

            //setTimeout(ResizeDiffContainer, 5000);
            //ResizeDiffContainer();
        });

        $(window).on('resize', function () {
            ResizeDiffContainer();
        });

        function ResizeDiffContainer() {
            console.log('resizing diff container');
            var bottomMargin = 20;
            $('#mergely-container').height($(window).outerHeight() - ($('#header-container').outerHeight() + $('#footer-container').outerHeight() + bottomMargin));
            $('#mergely').mergely('resize');
        }
    </script>
}