﻿@model WebUI.ViewModels.DiffTool.DiffToolMainViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>@Model.SiteItemDetails.Title</h1>

<div>
    <h4>@Model.SiteItemDetails.Host</h4>
    <hr />
</div>
<div>

    <div class="btn btn-sm btn-primary mb-2" onclick="ToggleRegexEditor()">
        Show Ignore Regex
    </div>
    <div id="edit-regex-form" class="d-none">
        <div>Add Regex patterns below to define what will be ignored during difference detection. (one pattern per line)</div>
        <form id="initScanForm" class="form-inline" asp-controller="DiffTool" asp-action="UpdateRegex" asp-route-siteId="@Model.SiteItemDetails.Id">
            @Html.EditorFor(m => m.DiffIgnoreRegex, new { htmlAttributes = new { @class = "regex-editor" } })
            <button type="submit" class="btn btn-primary mt-2 mb-5">Save</button>
        </form>
    </div>

    <div class="row">
        <div class="col-2"></div>
        <div class="col-4">
            <form id="initScanForm" class="form-inline d-flex justify-content-center pb-2 c-diff-border-under" asp-controller="DiffTool" asp-action="ScanSite" asp-route-siteId="@Model.SiteItemDetails.Id">
                <button type="submit" class="btn btn-primary">Scan Primary</button>
            </form>
        </div>
        <div class="col-4">
            <form id="initCompareForm" class="form-inline d-flex justify-content-center pb-2 c-diff-border-under" asp-controller="DiffTool" asp-action="ScanSite" asp-route-siteId="@Model.SiteItemDetails.Id" asp-route-mode="1">
                <button type="submit" class="btn btn-primary">Scan Secondary</button>
            </form>
        </div>
        <div class="col-2"></div>
    </div>
    @foreach (var link in Model.Links)
    {
        bool isPrimaryDownloading = !link.ReferenceClientCode?.IsDownloadingCompleted ?? true;
        <div class="row">
            <div class="col-2 c-diff-url-cont"> <a href="@Model.SiteItemDetails.Host@link.Url" target="_blank">@link.Url</a></div>
            <div class="col-4">
                @await Html.PartialAsync("_ClientCodeStatus", link.ReferenceClientCode)
            </div>

            <div class="col-4">
                @await Html.PartialAsync("_ClientCodeStatus", link.AllClientCodes.Any() ? link.AllClientCodes[0] : null)
            </div>
            <div display-if="link.ReferenceClientCode != null && link.AllClientCodes.Count > 0 && !isPrimaryDownloading && link.AllClientCodes[0].IsDownloadingCompleted" class="col-2 flex-column d-flex align-items-center justify-content-center">
                @if (!link.AllClientCodes[0].IsDifferentFromReferenceCode)
                {
                    <div class="badge badge-success">Same</div>
                }
                else
                {
                    <div class="badge badge-warning">Different</div>
                }
                @Html.ActionLink("Compare", "Compare", "DiffTool", new { refCodeId = link.ReferenceClientCode?.Id, compareToCodeId = link.AllClientCodes.FirstOrDefault()?.Id }, new { id = @link.LinkId, @class = (!link.AllClientCodes[0].IsDownloadingCompleted ? " d-none" : "") })
            </div>
        </div>
    }
</div>


@section scripts {
    <script>
        function ToggleRegexEditor() {
            document.getElementById("edit-regex-form").classList.toggle("d-none");
        }
    </script>
}