﻿@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-4 mt-5 welcome-msg">Welcome to the Web Master Aide!</h1>
    <div class="ml-5 mt-5">
        <h2 class="mt-5 help-you-with">We are here to help you with:</h2>
        <ul class="tools-list-desc">
            <li>Detecting and Inspecting changes of client source code of your websites.</li>
            <li>Core Web Vitals scanning in bulk.</li>
        </ul>
    </div>
</div>
