﻿@model WebUI.ViewModels.Sites.ListViewModel
@inject IAuthorizerService AuthorizerService

@{
    ViewData["Title"] = "List";
}

<p>
    <a asp-action="Edit" class="btn btn-primary">Add New Site</a>
</p>


<div class="c-sites-list-container">
    @if (Model.Sites == null || Model.Sites.Count() == 0)
            {
                <div class="no-sites-msg">No sites available.</div>
            }
    @foreach (var site in Model.Sites)
    {
        <div class="c-site-container">
            <div class="c-site-title">@site.Title</div>
            <div class="c-site-host">@site.Host</div>
            <div class="c-tools-list mt-3">
                <a class="btn btn-primary" asp-area="" asp-controller="DiffTool" asp-action="Index" asp-route-siteId="@site.Id">Diff Tool</a>
                <a class="btn btn-primary" asp-area="" asp-controller="CoreWebVitalsTool" asp-action="Index" asp-route-siteId="@site.Id">CWV Tool</a>
            </div>
            <div class="c-site-manage-btns">
                @Html.ActionLink("Edit", "Panel", new { id = site.Id }) |
                <a href="#" data-toggle="modal" data-target="#deleteModal" data-siteId="@site.Id">Delete</a>
            </div>
        </div>
    }
</div>

@*Delete Modal*@
<div class="modal fade" tabindex="-1" role="dialog" id="deleteModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Site?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this site? All data associated with this site will be lost.</p>
            </div>
            <div class="modal-footer">
                <button type="button" id="deleteBtn" class="btn btn-danger">Delete!</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $('#deleteModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget); // Button that triggered the modal
            var siteId = button.data('siteid'); // Extract siteId from data-siteId

            var modal = $(this);
            var delBtn = modal.find('#deleteBtn');
            delBtn.click(function () {
                postData('/api/sites/delete/' + siteId, {})
                    .then(status => {
                        location.reload();
                    });
            });
        });

        async function postData(url = '', data = {}) {
            const response = await fetch(url, {
                method: 'POST',
                mode: 'cors',
                cache: 'no-cache',
                credentials: 'same-origin',
                headers: {
                    'Content-Type': 'application/json'
                },
                referrerPolicy: 'no-referrer',
                body: JSON.stringify(data)
            });
            return response.status;
        }
    </script>
}