﻿@model WebUI.ViewModels.Sites.SiteItemPanelViewModel
@{
    var parms = new Dictionary<string, string>
{
        { "siteId", Model.SiteItemDetails.Id.ToString() }
    };
}
<div id="site-title" class="d-flex align-items-center">
    <div class="editable-site-title">@Model.SiteItemDetails.Title</div>
    <div class="ml-3">
        <div class="btn btn-sm btn-light" onclick="EditTitle()">Edit</div>
    </div>
</div>
<div id="edit-title-form" class="d-none">
    <form asp-action="EditSitePartial" method="post" class="form-edit-title">
        <div>
            @Html.EditorFor(m => m.SiteEditViewModel.Title, null, "Title")
            <input type="number" name="Id" value="@Model.SiteEditViewModel.Id" hidden />
            <input type="text" name="FieldName" value="Title" hidden />
            <input class="btn btn-sm btn-primary" type="submit" name="save" value="Save" />
            <div class="btn btn-sm btn-light" onclick="CancelEdit()">Cancel</div>
        </div>
        <span class="field-validation-valid" data-valmsg-for="Title" data-valmsg-replace="true"></span>
    </form>
</div>

<div id="site-host" class="d-flex align-items-center">
    <div class="editable-site-host">@Model.SiteItemDetails.Host</div>
    <div class="ml-3">
        <div class="btn btn-sm btn-light" onclick="EditHost()">Edit</div>
    </div>
</div>
<div id="edit-host-form" class="d-none">
    <form asp-action="EditSitePartial" method="post" class="form-edit-host">
        <div>
            @Html.EditorFor(m => m.SiteEditViewModel.Host, null, "Host")
            <input type="number" name="Id" value="@Model.SiteEditViewModel.Id" hidden />
            <input type="text" name="FieldName" value="Host" hidden />
            <input class="btn btn-sm btn-primary" type="submit" name="save" value="Save" />
            <div class="btn btn-sm btn-light" onclick="CancelEdit()">Cancel</div>
        </div>
        <span class="field-validation-valid" data-valmsg-for="Host" data-valmsg-replace="true"></span>
    </form>
</div>

<div class="mt-3">
    <div display-if="Model.Links.Count == 0" class="no-links-available">No site links available yet.</div>
    <div id="list-of-links-container">
        @foreach (var link in Model.Links)
        {
            <div id="link_@link.LinkId" class="d-flex">
                <div class="mr-3 has-child-hidden d-flex">
                    <div class="link-text-container"><a href="@Model.SiteItemDetails.Host@link.Url" target="_blank">@link.Url</a></div>
                    <div class="child-hidden ml-3">
                        <div class="btn btn-sm btn-light" onclick="Edit(@link.LinkId)">edit</div>
                        <form asp-action="DeleteSiteLink" method="post">
                            @Html.Hidden("LinkId", link.LinkId)
                            @Html.Hidden("SiteId", link.SiteId)
                            <input class="btn btn-sm btn-light" type="submit" name="delete" value="Delete" />
                        </form>
                    </div>
                </div>
            </div>
            <div class="d-none" id="form_@link.LinkId">
                @{ await Html.RenderPartialAsync("_SiteLinkItemEditorPartial", link); }
            </div>
        }
    </div>
    <div id="addNewBtn" class="btn btn-primary mt-2" onclick="AddNew()">Add New</div>
    <div id="newForm" class="d-none">@{ await Html.RenderPartialAsync("_SiteLinkItemEditorPartial", new WebUI.ViewModels.Sites.SiteLinkItemDetailsViewModel() { SiteId = Model.SiteItemDetails.Id, LinkId = 0, Url = "" }); }</div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        let visibleFormId = 0;

        function Edit(linkId) {
            CancelEdit(visibleFormId);
            visibleFormId = linkId;
            document.getElementById("link_" + linkId).classList.remove("d-flex");
            document.getElementById("link_" + linkId).classList.add("d-none");
            document.getElementById("form_" + linkId).classList.remove("d-none");
        }

        function CancelEdit(linkId) {
            document.getElementById("addNewBtn").classList.remove("d-none");
            document.getElementById("newForm").classList.add("d-none");

            document.getElementById("site-title").classList.remove("d-none");
            document.getElementById("site-title").classList.add("d-flex");
            document.getElementById("edit-title-form").classList.add("d-none");

            document.getElementById("site-host").classList.remove("d-none");
            document.getElementById("site-host").classList.add("d-flex");
            document.getElementById("edit-host-form").classList.add("d-none");

            if (document.getElementById("link_" + linkId) == null)
                return;
            document.getElementById("link_" + linkId).classList.add("d-flex");
            document.getElementById("link_" + linkId).classList.remove("d-none");
            document.getElementById("form_" + linkId).classList.add("d-none");
        }

        function AddNew() {
            CancelEdit(visibleFormId);
            document.getElementById("addNewBtn").classList.add("d-none");
            document.getElementById("newForm").classList.remove("d-none");
        }

        function EditTitle() {
            CancelEdit(visibleFormId);
            document.getElementById("site-title").classList.add("d-none");
            document.getElementById("site-title").classList.remove("d-flex");
            document.getElementById("edit-title-form").classList.remove("d-none");
        }

        function EditHost() {
            CancelEdit(visibleFormId);
            document.getElementById("site-host").classList.add("d-none");
            document.getElementById("site-host").classList.remove("d-flex");
            document.getElementById("edit-host-form").classList.remove("d-none");
        }
    </script>
}