﻿@model WebUI.ViewModels.DiffTool.ClientCodeListEntryViewModel

<div class="c-diff-stat-container">
    @if (Model == null)
    {
        <div class="c-diff-downloading">No data available.</div>
        return;
    }

    @if (!Model.IsDownloadingCompleted)
    {
        <div class="c-diff-downloading">Downloading...</div>
    }
    else
    {
        <div class="c-diff-stat-single">
            <div class="c-diff-ttl">Status:</div>
            <div>@Model.ResponseCode</div>
        </div>
        <div class="">
            <div class="c-diff-ttl">Url Used:</div>
            <div class="c-global-truncate-text">@Model.UrlUsed</div>
        </div>
    }

</div>