﻿@model WebUI.ViewModels.Sites.SiteLinkItemDetailsViewModel
<div class="row">
    <div class="" id="link-editor-form">
        <form asp-action="EditLink" class="d-flex" id="site-link-editor-form">
            <input asp-for="LinkId" class="form-control" type="hidden" />
            <input asp-for="SiteId" class="form-control" type="hidden" />
            <div class="">
                <label asp-for="Url" class="control-label" hidden>Url</label>
                <input asp-for="Url" class="form-control form-control-sm" />
                <span asp-validation-for="Url" class="text-danger"></span>
            </div>
            <div>
                <input type="submit" value="Save" class="btn btn-sm btn-primary" />
                <div class="btn btn-sm btn-light" onclick="CancelEdit(@Model.LinkId)">Cancel</div>
            </div>
        </form>
    </div>
</div>