﻿/*Diff Tool Styles*/
.c-diff-stat-container {
    border: 1px solid #e9ecef;
    min-width: 100%;
    min-height: 50px;
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.c-diff-url-cont {
    align-self: center;
    font-weight: 500;
    color: #007bff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.c-global-truncate-text {
    width: 100%;
    white-space: nowrap;
    overflow: auto;
    text-overflow: ellipsis;
}

/* Hide scroll bar */ 
.c-global-truncate-text::-webkit-scrollbar {
    display: none;
}

/* Hide scroll bar on IE and Firefox */
.c-global-truncate-text {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.c-diff-stat-single {
    display: flex;
}

.c-diff-ttl {
    font-weight: 500;
    margin-right: 5px;
}

.c-diff-downloading {
    padding: 21px;
    text-align: center;
}

.c-diff-border-under::after {
    content: "";
    border: 1px solid #dee2e6;
    width: 100%;
    margin: 10px 6%;
}



/* Sites List Container */
.no-sites-msg {
    font-size: 3rem;
    color: #bdbdbd;
    text-align: center;
    width: 100%;
}

.c-sites-list-container {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

.c-site-container {
    max-width: 300px;
    width: 300px;
    border: 1px solid #dee2e6;
    padding: 8px;
    border-radius: 4px;
    margin: 4px;
}

.c-site-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    font-size: 2rem;
}

.c-site-host {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    color: #808080;
}

.c-site-edit {

}

.c-tools-list {
    text-align: center;
}

.c-tools-list {

}

.c-site-manage-btns {
    text-align: center;
    margin-top: 10px;
}

/* Site Edit Screen */
.editable-site-title {
    font-size: 3rem;
}

.editable-site-host {
    font-size: 2rem;
}

.form-edit-title {
    font-size: 3rem;
}

.form-edit-host {
    font-size: 2rem;
}

.no-links-available {
    font-size: 1.5rem;
    color: #909090;
}

/* CWV Screen */
.cwv-circled {
    display: inline-block;
    text-align: center;
    border: 2px solid black;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding-top: 6px;
    margin: 4px;
}

.cwv-lo {
    border-color: red;
}

.cwv-me {
    border-color: yellow;
}

.cwv-hi {
    border-color: forestgreen;
}

/* New Site */
.c-new-site-editor-cont {

}

.new-site-edit-lbl {
    font-size: 3rem;
}

/*Additionals*/
.is-disabled {
    color: #a0a0a0;
}

/*Home Page*/
.welcome-msg {
    color: #117175;
    font-weight: bold;
}

.help-you-with {
    color: #636363;
}

.tools-list-desc {
    border-left: 1px solid black;
    margin-left: 3rem;
    font-size: 1.5rem;
}